:root {
  color-scheme: light dark;
  font-family: "Noto Sans","Google Sans",Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
  --fa-width: auto;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

.background-image {
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 10rem rgba(0, 0, 0, 1);
  inset: 0;
  position: fixed;
  overflow: hidden;
  width: 100vw; height: 100vh;
  z-index: -1;
}

/* Main menu styling */
#menu {
  z-index: 10;
}
#menu .navbar-toggler {
  color: #000;
}
#menu, #menu .offcanvas {
  background-color: #f0f4f9;
}
@media (prefers-color-scheme: dark) {
  #menu, #menu .offcanvas {
    background-color: #080c11;
  }
}
@media (min-width: 768px) {
  #menu {
    background-color: #0000004f;
    box-shadow: 0 0 10px #00000080;
  }
  #menu .navbar-brand {
      --bs-navbar-brand-color: #fff;
  }
  #menu, .navbar-nav {
    --bs-nav-link-color: #ffffffab;
    --bs-nav-link-hover-color: #ffffffc7;
    --bs-nav-link-disabled-color: #ffffff80;
    --bs-navbar-active-color: #fff;
  }
}
#navbarSocial {
  font-size: 24px;
}
#menu .form-ico, #menu .help-ico {
  color: #ff606d;
}
#menu .xref-text {
  vertical-align: 4px;
}

/* Main layout */
main,
.calendar-frame-container,
.calendar-container,
.calendar-container iframe {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cover-container {
  background-color: #f0f4f9;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  color: #212529;
  flex: 1 1 auto;
  max-width: 768px;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  z-index: 0;
}
@media (min-width: 768px) {
  main,
  .calendar-frame-container,
  .calendar-container {
    display: block;
  }
  .calendar-container iframe {
    display: block;
    width: 100%;
    height: max(600px, 80vh);
  }
  .cover-container {
    border-radius: 1rem;
    flex: none;
    z-index: 20;
  }
}
@media (min-width: 80em) {
  .cover-container {
    max-width: 60em;
  }
}
@media (prefers-color-scheme: dark) {
  .cover-container {
    box-shadow: 0 0 1rem rgba(255, 255, 255, .5);
    filter: invert(1) hue-rotate(180deg);
  }
  .cover-container hr {
    border-color: #00000041;
  }
  .background-image {
    filter: brightness(0.5);
  }
  .browser-forced-dark-mode .calendar-container iframe {
    filter: invert(1) hue-rotate(-180deg);
  }
}

/* Fullscreen layout for the app */
.fullscreen header,
.fullscreen #menu {
  display: none;
}
.fullscreen .cover-container {
  max-width: 100%;
}

/* Page elements */
header {
  margin-bottom: 2rem;
  padding: 0 12px;
  position: relative;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

main p, main p.form-check {
  margin-bottom: 0.5rem;
}

/* Full cover for the iframe feedback button */
.feedback-cover {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.controls-calendar-view {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 10px;
  text-shadow: none;
  z-index: 2;
}
.controls-calendar-view > * {
  pointer-events: auto;
}
/* View selector button */
.controls-calendar-view .dropdown-toggle {
  background-color: #f0f4f9;
  border: #747775 solid 1px;
  border-radius: 9999px;
  color: #1f1f1f;
  font-weight: 500;
  height: 36px;
  line-height: normal;
  padding: 0;
  padding-inline-start: 26px;
  padding-inline-end: 20px;
  transition: 0.2s;
}
/* 526px is only an estimate for button collapse */
@media (max-height: 526px) {
  .fullscreen .controls-calendar-view .dropdown-toggle {
    height: 28px;
  }
  .controls-calendar-view::after {
    position: absolute;
    background-color: #f0f4f9;
    content: " ";
    width: 30px;
    height: 30px;
    display: block;
    top: -4px;
    right: -7px;
    z-index: -1;
    pointer-events: all;
  }
}
.controls-calendar-view .button-short {
  display: none;
}
.controls-calendar-view .dropdown-toggle:hover {
  background-color: #dfe3e7;
}
.controls-calendar-view .dropdown-toggle:active {
  background-color: #cbcfd2;
}
/* Downtick arrow */
.controls-calendar-view .dropdown-toggle::after {
  border-top-color: #444746;
  margin-left: 8px;
  vertical-align: .2em;
}
.controls-calendar-view .dropdown-menu {
  background-color: #e5edf6;
  border: #0000 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
  font-size: 14px;
  line-height: 16px;
  min-width: 112px;
}
.controls-calendar-view .dropdown-item {
  color: #1f1f1f;
  padding: 12px;
}
.controls-calendar-view .dropdown-item:hover {
  background-color: #d5dce5;
  color: #161616;
}
.controls-calendar-view .dropdown-item:active {
  background-color: #b3c3cf;
}
@media (max-width: 720px) {
  .controls-calendar-view {
    position: absolute;
    right: 4px;
    top: 6px;
    height: 48px;
  }
  .controls-calendar-view button.dropdown-toggle {
    border: transparent 0px;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    height: 30px;
    line-height: 28px;
    padding-inline-start: 16px;
    padding-inline-end: 8px;
  }
  .controls-calendar-view .button-short {
    display: inline;
  }
  .controls-calendar-view .button-long,
  .controls-calendar-view .feedback-cover {
    display: none;
  }
  .controls-calendar-view .dropdown-toggle:hover,
  .controls-calendar-view .dropdown-toggle:active {
    background-color: #f0f4f9;
  }
}

/* Calendar event counter below the main calendar */
.controls-calendar-count {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  text-shadow: none;
  bottom: 6px;
  width: 100%;
  z-index: 2;
}
/* Using 1-rem padding and Google switches layout from 626px. */
@media (min-width: calc(626px + 2rem)) {
  .controls-calendar-count {
    bottom: 12px;
  }
}

/* Calendar switches layout */
.controls-calendar-switches {
  flex-wrap: wrap;
}
.controls-calendar-switches .form-switch .form-check-input {
  margin-left: -2em;
  width: 28px;
}
@keyframes collapse-toggle-text-color {
  0%,
  100% {
    color: var(--bs-btn-color);
  }
  50% {
    color: transparent;
  }
}
.btn[data-bs-toggle="collapse"]:has(+ .controls-calendar-switches) {
  height: 1em;
  animation: collapse-toggle-text-color 1s ease-in-out infinite;
  line-height: 1;
  overflow: hidden;
  --bs-btn-bg: #e3e3e3;
  --bs-btn-border-color: #e3e3e3d8;
  --bs-btn-hover-bg: #c7c7c7;
  --bs-btn-hover-border-color: #c7c7c7d8;
  --bs-btn-active-bg: #ababab;
  --bs-btn-active-border-color: #abababd8;
}

/* Add event form*/
#addEventForm .modal-content {
  background-color: #f6f6f6;
}
#addEventForm .modal-dialog {
  height: calc(100% - 1rem) !important;
}
@media (min-width: 576px) {
  #addEventForm .modal-dialog {
    height: calc(100% - 3.5rem) !important;
    max-width: min(95%, 768px);
  }
}
@media (prefers-color-scheme: dark) {
  #addEventForm .modal-content {
    filter: invert(1) hue-rotate(180deg);
  }

  .browser-forced-dark-mode #addEventForm .modal-content iframe {
    filter: invert(1) hue-rotate(-180deg);
  }
}
