:root {
  color-scheme: light dark;
}

html,
body {
  min-height: 100vh;
}

a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.background-image {
  background-image: url('background.jpg');
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 10rem rgba(0, 0, 0, 1);
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  z-index: -1;
}

.cover-container {
  background-color: #f0f4f9;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  color: #212529;
  min-height: 100vh;
  max-width: 48em;
  width: 100%;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

@media (prefers-color-scheme: dark) {
  .cover-container {
    box-shadow: 0 0 1rem rgba(255, 255, 255, .5);
    filter: invert(1) hue-rotate(180deg);
  }
  .cover-container hr {
    border-color: #00000041;
  }
  .background-image {
    filter: brightness(0.5);
  }
  .form-container {
    filter: invert(1) hue-rotate(180deg);
  }

  .samsung-browser .calendar-container iframe {
    filter: invert(1) hue-rotate(-180deg);
  }
}

iframe {
  border: 0;
  margin: 0;
  overflow: hidden;
}

header, footer {
  padding: 0 12px;
}

header {
  margin-bottom: 2rem;
  position: relative;
}

.masthead-brand {
  margin-bottom: 0;
  margin-right: .5rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
}

@media (min-width: 80em) {
  .cover-container {
    max-width: 60em;
  }
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Google calendar tab style for generated tabs */
.calendar-container {
  position: relative;
}

@font-face {
  font-family: "Google Sans";
  font-weight: 300 400;
  src: url("https://sp3eder.github.io/Google-Sans-Font/GoogleSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Google Sans";
  font-weight: 500 700;
  src: url("https://sp3eder.github.io/Google-Sans-Font/GoogleSans-Medium.ttf") format("truetype");
}

/* Full cover for the iframe feedback button */
.feedback-cover {
  position: absolute;
  right: 2px;
  top: 2px;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.controls-calendar-view {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 10px;
  text-shadow: none;
  z-index: 2;
}

.controls-calendar-view > * {
  pointer-events: auto;
}

/* Wide view button */
.controls-calendar-view .dropdown-toggle {
  background-color: #f0f4f9;
  border: #747775 solid 1px;
  border-radius: 9999px;
  color: #1f1f1f;
  font-weight: 500;
  height: 36px;
  line-height: normal;
  padding: 0;
  padding-inline-start: 26px;
  padding-inline-end: 20px;
  transition: 0.2s;
}
.controls-calendar-view .button-short {
  display: none;
}
.controls-calendar-view .dropdown-toggle:hover {
  background-color: #dfe3e7;
}
.controls-calendar-view .dropdown-toggle:active {
  background-color: #cbcfd2;
}
/* Downtick arrow */
.controls-calendar-view .dropdown-toggle::after {
  border-top-color: #444746;
  margin-left: 8px;
  vertical-align: .2em;
}

.controls-calendar-view .dropdown-menu {
  background-color: #e5edf6;
  border: #0000 solid 1px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
  font-size: 14px;
  line-height: 16px;
  min-width: 112px;
}

.controls-calendar-view .dropdown-item {
  color: #1f1f1f;
  padding: 12px;
}
.controls-calendar-view .dropdown-item:hover {
  background-color: #d5dce5;
  color: #161616;
}
.controls-calendar-view .dropdown-item:active {
  background-color: #b3c3cf;
}

.controls-calendar-count {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  pointer-events: none;
  position: absolute;
  text-shadow: none;
  top: 570px;
  width: 100%;
  z-index: 2;
}

/* Footer */
footer {
  color: rgba(0, 0, 0, .5);
  font-size: small;
}

footer p {
  margin-bottom: 0.3rem;
}

footer .form-ico, footer .social-ico {
  font-size: 24px;
}

footer .form-ico {
  color: #ff606d;
}

footer .xref-text {
  vertical-align: 4px;
}

/* Add event form*/
#addEventForm .modal-dialog {
  max-width: max-content;
}

#addEventForm .modal-content {
  background-color: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  #addEventForm .modal-content {
    background-color: #0a0a0a;
  }
}

#addEventForm .modal-body {
  padding: 0;
  padding-bottom: 1rem;
}

#addEventForm iframe {
  width: min(650px, 90vw);
  height: calc(100vh - 10rem);
}

/* Narrow view */
@media (max-width: 720px) {
  .controls-calendar-view {
    position: absolute;
    right: 4px;
    top: 6px;
    height: 48px;
  }

  .controls-calendar-view button.dropdown-toggle {
    border: transparent 0px;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    height: 30px;
    line-height: 28px;
    padding-inline-start: 16px;
    padding-inline-end: 8px;
  }
  .controls-calendar-view .button-short {
    display: inline;
  }
  .controls-calendar-view .button-long,
  .controls-calendar-view .feedback-cover {
    display: none;
  }

  .controls-calendar-view .dropdown-toggle:hover,
  .controls-calendar-view .dropdown-toggle:active {
    background-color: #f0f4f9;
  }

  .controls-calendar-count {
    top: 576px;
  }
}

.controls-calendar-switches {
  flex-wrap: wrap;
}